{% extends "base.html" %}

{% block content %}

	<!-- <script type="text/javascript" src="../static/js/login.js"></script> -->

	<!-- idée : un onglet pour voir les dm envoyer par le bot (stocker les pp, le nom et le contenu dans un json) -->

	<!-- <div class="login_section">

		<div id="login_container">
			<div id="login_text_container">
				<div id="login_text">Entrez votre mot de passe : </div>
			</div>
			<div id="loginInput_container">
				<input type="password" id="loginInput" spellcheck="false" placeholder="Mot de passe">
			</div>
		</div>

	</div> -->

{% endblock %}