{% extends "basePir.html" %} {% block content %}

<div class="container  mt-5">

    <div class="card chart-container">
        <canvas id="chart1"></canvas>
    </div>

    <div class="card chart-container">
        <canvas id="chart2"></canvas>
    </div>

    <div class="card chart-container">
        <canvas id="chart3"></canvas>
    </div>

</div>

<script src="../static/js/chart.js" type="text/javascript"></script>
<script>
    updateChart("dureeEtVue('bar')", 1);
    updateChart("dureeMulVue('bar')", 2);
    updateChart("allCandidatDepth('line')", 3);
</script>

{% endblock %}