{% extends "basePir.html" %} {% block content %}

<div class="container  mt-5">
    <h1>Comparateur</h1>

    <div class="separator"></div>

    <div id="chart-list" class="overflow-auto">
        <h2>Proportion des durées et vues des vidéos par candidat</h2>
        <div class="chart-tips-container">
            <div class="card chart-container">
                <p>Pourcentage</p>
                <div class="chart-right-legend">
                    <canvas id="chart1"></canvas>
                    <p>Candidats</p>
                </div>
            </div>
            <div class="tips-container">
                <img src="../static/image/icons/light-removebg-preview-removebg-preview.png" class="tips-icon" alt="tip image" />
                <p class="tips">
                    Proportion de la durée de visionnage et du nombre de vue pour chaque candidat par rapport à leur total respectif. Ce graphique permet d'analyser l'exposition d'un candidat et ainsi de savoir si elle est par exemple dû à des courtes vidéos très vues ou
                    à des longues vidéos peu regardés.
                </p>
            </div>
        </div>

        <h2>Pourcentage d'exposition contre pourcentage de votes par candidat</h2>
        <div class="chart-tips-container">
            <div class="card chart-container">
                <p>Pourcentage</p>
                <div class="chart-right-legend">
                    <canvas id="chart2"></canvas>
                    <p>Candidats</p>
                </div>
            </div>
            <div class="tips-container">
                <img src="../static/image/icons/light-removebg-preview-removebg-preview.png" class="tips-icon" alt="tip image" />
                <p class="tips">
                    Mise en relation du score aux elections présidentielles avec la proportion d'exposition totale sur YouTube.
                    </br>L'objectif est ici de voir si il existe une quelconque relation entre ces deux données.
                </p>
            </div>
        </div>

        <h2>Exposition des candidats en fonction de l'étape de spécialisation</h2>
        <div class="chart-tips-container">
            <div class="card chart-container">
                <p>Exposition normée</p>
                <div class="chart-right-legend">
                    <canvas id="chart3"></canvas>
                    <p>Etape de spécialisation</p>
                </div>
            </div>
            <div class="tips-container">
                <img src="../static/image/icons/light-removebg-preview-removebg-preview.png" class="tips-icon" alt="tip image" />
                <p class="tips">
                    L'évolution de l'exposition en fonction de l'étape de personalisation permet de savoir si YouTube mets plus en avant un candidat à un profil d'utilisateur vierge qu'à un profil personnalisé. Si la courbe décroit cela veut dire que la personnalisation
                    entraine moins de recommendation.
                </p>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/chart.js" type="text/javascript"></script>
<script>
    updateChart("dureeEtVue('bar')", 1);
    updateChart("dureeMulVue('bar')", 2);
    updateChart("allCandidatDepth('line')", 3);
</script>

{% endblock %}