
#coffre_top{
	float:left;
	width:100%;
	margin-bottom: 20px;
}

#keyInput_container{
	float:left;
	width:100%;
	display: flex;
  	justify-content: center;
  	margin-top: 50px;
}

#keyInput{
	font-size: max(2vw, 1em);
	padding-left: 20px;
	padding-top: 15px ;
	padding-bottom: 15px ;
	margin-right: 30px;
	width:50%;
}

#coffre_coupon{
	float:left;
	width:100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin-top: 20px;
  	font-size: min(2em,6vw);
  	margin-bottom: 20px;
}

#coupon_state{
	margin-left: 8px;
	color : red;
}

#coffre_separator{
	width:90%;
	filter: opacity(40%);
}

#coffre_section{
	width: 100%;
	margin-left: 5%;
	margin-top: 2%;
    height: 100%;
    float: left;
    overflow:scroll;
}

.coffre_container{
	float:left;
}

@keyframes wiggle { 
 
    0% { transform: rotate(0deg); } 
    14% { transform: rotate(0deg); } 
    17% { transform: rotate(5deg); } 
    25% { transform: rotate(-5deg); } 
    34% { transform: rotate(0deg); } 
    41% { transform: rotate(0deg); } 
    45% { transform: rotate(5deg); } 
    62% { transform: rotate(-5deg); }
    72% { transform: rotate(0deg); } 
    80% { transform: rotate(0deg); } 
    86% { transform: rotate(5deg); } 
    93% { transform: rotate(-5deg); } 
    100% { transform: rotate(0deg); }
 
} 

.coffre_close{
	filter: opacity(65%);
}

.coffre_close:hover{
	animation: wiggle 3s infinite alternate;
	filter: opacity(100%);
}

.coffre_chiffre{
	position: absolute;
    margin-left: 157px;
    margin-top: 46px;
    font-size: 2.5em;
    z-index: 99;
    color: white;
}

.coffre_chiffre.bigger{
    margin-left: 151px;
    margin-top: 52px;
    font-size: 30px;
}

.coffre_content{
	position: absolute;
	font-size: 1.5em;
	width: 200px;
	height: 100px;
	margin-left: 12px;
	background-color: white;
  	filter: opacity(60%);
  	color:black;
  	border: solid;
  	z-index: 98;
}

.coffre_content span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}